body {
    background-color: rgb(224, 223, 225);
}
h1{
    text-align: center;
    color: black(226, 41, 41);
}
#name {
    width:80%;
    padding: 5px;
    /* border-radius: %; */
    /* outline: 110; */
    border: 1px solid lightgray;

}
table{
    color: black;
    /* background-color: rgb(7, 7, 7); */
    /* border-collapse: collapse; */
    font-size: 16px;
    font-family: serif;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid white;
    width: 500px;
    /* text-align: center */
}

input[type="submit"]{
    margin: 10px 0 10px 0;
    width: 125px;
    height: 30px;
    color: black;
    background-color:white;
}

input[type="reset"]{
    margin: 10px 0 10px 0;
    height: 30px;
    width: 125px;
    color: black;
    background-color: white
}

input[type="submit"]:hover{
    margin: 10px 0 10px 0;
    width: 125px;
    height: 30px;
    color: gray;
    background-color: white;
}

input[type=password]{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}

input[type=password]:focus{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 200px;
}

textarea{
    resize: none;
}